/* couleurs :
#DFFCB5
#B7F5DE
#ADD1FC
#9870FC */



body{
	background-image: url("../photos/99326.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

header{
	background: #DFFCB5;
	padding-top: 10px;
}

#main{
	position: relative;
}

#forts{
	margin-top: 20px;
}

#titre p{
	color: #9870FC;
	text-transform: uppercase;
	font-size: 0.8em;
	margin-top: 1.2em;
}

h1, h2, h3, h4, h5, h6, .panel-heading{
	font-family: arial;
}

h1{
	text-transform: uppercase;
	color: #9870FC;
	padding: 25px 0;
	font-size: 3.8em;
	/* color:#2980b9; */
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
}

h1::first-letter {
	text-transform: uppercase;
}

.navbar-default {
	background: #ADD1FC;
}

.navbar-header .navbar-toggle.collapsed {
	background: white;
}

.navbar-default .navbar-nav>li>a{
	color: white;
}

main{
	font-family: Times, "Times New Roman";
	background: #DFFCB5;
	padding-bottom: 15px;
}

.italic{
	font-style: italic;
}

.shadow, .panel-info, #contact .thumbnail{
	border: 2px solid silver;
	box-shadow: 20px 40px 0px rgba(88, 136, 72, 0.4);
}
/*************************** index.php *****************************************/

#presentation{
	margin-bottom: 20px;
}

.presentation {
	margin: 20px;
	padding: 10px;
	border-radius: 5px;
	font-size: 2em;
}

#presentation ul, #competences ul, #interets ul{
	font-size: 1.5em;
	list-style: disc;
	margin-left: 20px;

}

/*************************** fin index.php *****************************************/
/*************************** parcours.php *****************************************/

#parcours h2{
	margin-left: 15px;
}
/*************************** fin parcours.php *****************************************/

/***************************  contact.php *****************************************/
#contact .thumbnail{
	padding: 10px;
}

span.error{
	color: red;
}

/*************************** fin contact.php *****************************************/

/***************************  realisations.php *****************************************/

#realisations article{
	background: white;
}

#realisations img{
	width: 100%;
	/* margin: 1px; */
}

#realisations article p{
	font-size: 1.3em;
}

/***************************  fin realisations.php *****************************************/

footer{
	margin-top: 20px;
	padding-top: 5px;
	background: #ADD1FC;
	line-height: 1em;
	font-family:
	/*background: #383838;*/
	padding: 10px;
	color: white;
}

#presentation+footer, #interets+footer{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
footer a{
	text-decoration: none;
	color: white;
}

#logos_reseaux li{
	display: inline-block;
}

#portrait p{
	font-size: 1.5em;
}

#portrait img{
	margin: auto;
	width: 150px;
}

#titre p{
	font-family: arial;
	font-weight:bold;
	font-size: 2.8em;
	text-align: center;
}

#icones{
	width: 80%;
	margin: 15% auto;
}

#icones img{
	width: 20%;
	margin: 1px;
}
