body{
	background: #e3e8f8;
}

header{
	background: cyan;
	padding-bottom: 10px; 
	/*display: flex;
	align-items: center;*/
}

h1{
	padding: 25px 0;
    font-size: 45px;
    /*font-family: 'Anton', sans-serif;*/
    color:#2980b9;
    text-align: center;
    letter-spacing: 1px;
}

#portrait img{
	margin: auto;
	width: 45%;
}

#icones img{
	width: 30px;
	margin: 5px;
}

.cadre-rond{
	border-radius: 50%;
}
