body{
	background: #e3e8f8;
}

header{
	background: cyan;
	padding-bottom: 10px;
	/*display: flex;
	align-items: center;*/
}

h1{
	padding: 25px 0;
	font-size: 3.8em;
	/*font-family: 'Anton', sans-serif;*/
	color:#2980b9;
	text-align: center;
	letter-spacing: 1px;
}

nav{
	background: #bb8fce;
}

#presentation{
	background: 
}

footer{
	background: #383838;
	padding: 10px;
	color: white;
}

footer a{
	text-decoration: none;
	color: white;
}

#logos_reseaux{

}

#logos_reseaux li{
	display: inline-block;

}

#portrait img{
	margin: auto;
	width: 45%;
}

#titre p{
	font-family: arial;
	font-weight:bold;
	font-size: 4em;
	line-height: 3em;
	text-align: center;
}

/*site en construction*/
/*#titre p:last-child{
font-style: italic;
font-size: 2em;
margin-top: .5em;
text-align: center;
}

#titre span{
background: #ccc;
padding: 0 10px;
}*/
/* fin site en construction*/



#icones{
	width: 80%;
	margin-top:15%;
	margin-left:10%;
}

#icones img{
	width: 20%;
	margin: 1px;
}

.cadre-rond{
	border-radius: 50%;
}
